.detail {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}

.detail img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 6px;
}